@{
    ViewBag.Title = "Ювелирный магазин — Королевская кобра";
}
<div class="row text-center header animate-in" data-anim-type="fade-in-up">
    <div class="head-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Ювелирный магазин — Королевская кобра</h3>
    </div>
</div>


<div class="guide-block">
    <div class="flex-newsbody">
        <h3>
        <p>Добро пожаловать на наш сайт.</p>
        <p>На данном сайте вы можете ознакомиться с нашим ассортиментом, а также оставить заявку на обратный звонок.</p>
        </h3>
    </div>
</div>