@model Feedback

@{
    ViewBag.Title = "Заявка отправлена — Ювелирный каталог";
}

<div class="container" style="color:white">
    <div class="row text-center header animate-in" data-anim-type="fade-in-up">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 style="color: black">Ваша заявка отправлена!</h3>
        </div>

    </div>
</div>
