@model Feedback

@{
    ViewBag.Title = "Админка — Изменение заявки";
}

@await Component.InvokeAsync("AdminPanel")

<link href="~/lib/Trumbowyg-master/dist/ui/trumbowyg.min.css" rel="stylesheet" />

<div class="admineditwindow">
    <form method="post" asp-controller="Panel" asp-action="EditFeedback">
        <input asp-for="Id" type="hidden" />
        <div style="visibility:hidden">
            <label>Дата создания</label>
            <input asp-for="Created" style="color:black" />
        </div>
        <div>
            <label>Статус</label>
            <select asp-for="Status">
                <option value="Новая заявка">Новая заявка</option>
                <option value="Обработана">Обработана</option>
            </select>
        </div>
        <div>
            <label>Ваше имя</label>
            <input asp-for="Name" />
        </div>
        <div>
            <label>Ваш телефон для связи</label>
            <input asp-for="Telephone" />
        </div>
        <div>
            <label>Время, в которое вам лучше перезвонить</label>
            <input asp-for="Time" />
        </div>
        <div>
            <label>Ваше обращение</label>
            <textarea id="editor" asp-for="Comment"></textarea>
        </div>
        <input type="submit" value="Отправить" />

    </form>
</div>



@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/plugins/upload/trumbowyg.upload.min.js"></script>
    <script src="~/js/trumbowyg.noembed.js"></script>
    <script>
        $('#editor')
            .trumbowyg({
                btnsDef: {
                    // Create a new dropdown
                    image: {
                        dropdown: ['insertImage', 'upload'],
                        ico: 'insertImage'
                    }
                },
                // Redefine the button pane
                btns: [
                    ['viewHTML'],
                    ['formatting'],
                    ['strong', 'em', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['image'], // Our fresh created dropdown
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['unorderedList', 'orderedList'],
                    ['horizontalRule'],
                    ['removeformat'],
                    ['fullscreen']
                ],
                plugins: {
                    // Add imagur parameters to upload plugin for demo purposes
                    upload: {
                        serverPath: 'https://api.imgur.com/3/image',
                        fileFieldName: 'image',
                        headers: {
                            'Authorization': 'Client-ID a6bc5a2e906d601'
                        },
                        urlPropertyName: 'data.link'
                    }
                }
            });
    </script>
    <script>
        $('#spoilerEditor').trumbowyg();
    </script>
}